In [ ]:
#pip install pandas mysql-connector-python

In [32]:
import pandas as pd

In [33]:
pd.set_option('display.max_columns', None)

In [34]:
df = pd.read_csv(r'C:\Users\Michel Diego\Downloads\Database_LeevinGL21052024.csv')
df

,Unnamed: 0,-1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,2,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,06/07/2024,"3,302",Unnamed: 49
0,Company,ID,Property,Landlord,Group,Address,City,Zone,Eircode,Room info,Included Bills,# of bathrooms,#REF!,#REF!,Merge,Gender,Vacancy ID,Group Room,Type Room,Property Type,Vacancy Status,Vacancy Status,Current Price,Base Price (2023),Proj. 2024,Proj. 2025,Proj. 2026,Renovação Aplicada,PROJECTION,Proj. month,Deposit Amount,Booking Code,Customer,Entry Date,Expired Date,Contract duration,Total duration of contract,Rent day,Year,Month,Last Notice Date,Last Open Date,Vacancy Abandonement,Func. Leevin,Status of Payment,Status deposito,Note,5.0,Entry Month,Entry Year
1,Leevin,Cream,The Barley House - Factory,-,NaN,"Block A The Barley House, 90-97 Cork St, The L...",Dublin,D08,D08 N5PE,NaN,NaN,NaN,1,NaN,Leevin,NaN,TBH,Factory,Factory,Home,Return,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,Paid,DESCONTO,NaN,NaN,NaN,NaN
2,Leevin,Erin,Erin,Neil,NaN,43 North Great George's Street,Dublin,D01,D01 K023,NaN,NaN,NaN,1,NaN,Leevin,NaN,NaN,School,School,Home (entire house),Close,1,"17,083.33","17,083.33","17,425.00","17,774.00","18,129.00",NaN,NaN,NaN,"17,083.33",6414,Erin School - Lucas Finelli,01/06/2021,01/12/2024,12 meses,42 Months 19 Days,21,2024,12,NaN,NaN,NaN,NaN,Paid,DESCONTO,NaN,NaN,6,2021
3,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B11,Room 1.1,Twin,Home (entire house),Ending,4,612.00,"2,400.00","2,448.00","2,497.00","2,547.00",December Email ok,"2,448.00",9,600.00,16160,Madhav Kalra,22/02/2024,21/06/2024,4 meses,4 Months,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,criado novo booking Leevin - 7109,NaN,2,2024
4,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B12,Room 1.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,December Email ok,NaN,9,600.00,17449,Akshit Mistry,22/03/2024,21/06/2024,3 meses,3 Months 1 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.columns = df.iloc[0]
df = df[2:]
df

,Company,ID,Property,Landlord,Group,Address,City,Zone,Eircode,Room info,Included Bills,# of bathrooms,#REF!,#REF!,Merge,Gender,Vacancy ID,Group Room,Type Room,Property Type,Vacancy Status,Vacancy Status,Current Price,Base Price (2023),Proj. 2024,Proj. 2025,Proj. 2026,Renovação Aplicada,PROJECTION,Proj. month,Deposit Amount,Booking Code,Customer,Entry Date,Expired Date,Contract duration,Total duration of contract,Rent day,Year,Month,Last Notice Date,Last Open Date,Vacancy Abandonement,Func. Leevin,Status of Payment,Status deposito,Note,5.0,Entry Month,Entry Year
2,Leevin,Erin,Erin,Neil,NaN,43 North Great George's Street,Dublin,D01,D01 K023,NaN,NaN,NaN,1,NaN,Leevin,NaN,NaN,School,School,Home (entire house),Close,1,"17,083.33","17,083.33","17,425.00","17,774.00","18,129.00",NaN,NaN,NaN,"17,083.33",6414,Erin School - Lucas Finelli,01/06/2021,01/12/2024,12 meses,42 Months 19 Days,21,2024,12,NaN,NaN,NaN,NaN,Paid,DESCONTO,NaN,NaN,6,2021
3,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B11,Room 1.1,Twin,Home (entire house),Ending,4,612.00,"2,400.00","2,448.00","2,497.00","2,547.00",December Email ok,"2,448.00",9,600.00,16160,Madhav Kalra,22/02/2024,21/06/2024,4 meses,4 Months,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,criado novo booking Leevin - 7109,NaN,2,2024
4,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B12,Room 1.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,December Email ok,NaN,9,600.00,17449,Akshit Mistry,22/03/2024,21/06/2024,3 meses,3 Months 1 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2024
5,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,Male,GA24AP01B21,Room 2.1,Twin,Home (entire house),Notice,1,612.00,0.00,0.00,0.00,0.00,December Email ok,NaN,9,600.00,16162,Vinayak Kantaram Hinge,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,23/06/2024,23/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
6,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,NaN,GA24AP01B22,Room 2.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,NaN,NaN,9,600.00,16163,Pratik Arjun Gadkar,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.columns

Index([                   'Company',                         'ID',
                         'Property',                   'Landlord',
                            'Group',                    'Address',
                             'City',                       'Zone',
                          'Eircode',                  'Room info',
                   'Included Bills',             '# of bathrooms',
                            '#REF!',                      '#REF!',
                            'Merge',                     'Gender',
                       'Vacancy ID',                 'Group Room',
                        'Type Room',              'Property Type',
                   'Vacancy Status',             'Vacancy Status',
                    'Current Price',          'Base Price (2023)',
                       'Proj. 2024',                 'Proj. 2025',
                       'Proj. 2026',        'Renovação Aplicada ',
                       'PROJECTION',                'Proj. month',
                   'Deposit Amount',               'Booking Code',
                         'Customer',                 'Entry Date',
                     'Expired Date',          'Contract duration',
       'Total duration of contract',                   'Rent day',
                             'Year',                      'Month',
                 'Last Notice Date',             'Last Open Date',
             'Vacancy Abandonement',               'Func. Leevin',
                'Status of Payment',            'Status deposito',
                             'Note',                          5.0,
                      'Entry Month',                 'Entry Year'],
      dtype='object', name=0)

In [37]:
df.columns.values[21] = "Qty"

In [38]:
df

,Company,ID,Property,Landlord,Group,Address,City,Zone,Eircode,Room info,Included Bills,# of bathrooms,#REF!,#REF!,Merge,Gender,Vacancy ID,Group Room,Type Room,Property Type,Vacancy Status,Qty,Current Price,Base Price (2023),Proj. 2024,Proj. 2025,Proj. 2026,Renovação Aplicada,PROJECTION,Proj. month,Deposit Amount,Booking Code,Customer,Entry Date,Expired Date,Contract duration,Total duration of contract,Rent day,Year,Month,Last Notice Date,Last Open Date,Vacancy Abandonement,Func. Leevin,Status of Payment,Status deposito,Note,5.0,Entry Month,Entry Year
2,Leevin,Erin,Erin,Neil,NaN,43 North Great George's Street,Dublin,D01,D01 K023,NaN,NaN,NaN,1,NaN,Leevin,NaN,NaN,School,School,Home (entire house),Close,1,"17,083.33","17,083.33","17,425.00","17,774.00","18,129.00",NaN,NaN,NaN,"17,083.33",6414,Erin School - Lucas Finelli,01/06/2021,01/12/2024,12 meses,42 Months 19 Days,21,2024,12,NaN,NaN,NaN,NaN,Paid,DESCONTO,NaN,NaN,6,2021
3,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B11,Room 1.1,Twin,Home (entire house),Ending,4,612.00,"2,400.00","2,448.00","2,497.00","2,547.00",December Email ok,"2,448.00",9,600.00,16160,Madhav Kalra,22/02/2024,21/06/2024,4 meses,4 Months,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,criado novo booking Leevin - 7109,NaN,2,2024
4,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B12,Room 1.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,December Email ok,NaN,9,600.00,17449,Akshit Mistry,22/03/2024,21/06/2024,3 meses,3 Months 1 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2024
5,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,Male,GA24AP01B21,Room 2.1,Twin,Home (entire house),Notice,1,612.00,0.00,0.00,0.00,0.00,December Email ok,NaN,9,600.00,16162,Vinayak Kantaram Hinge,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,23/06/2024,23/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
6,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,NaN,GA24AP01B22,Room 2.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,NaN,NaN,9,600.00,16163,Pratik Arjun Gadkar,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df = df.drop('Renovação Aplicada ', axis=1)
df

,Company,ID,Property,Landlord,Group,Address,City,Zone,Eircode,Room info,Included Bills,# of bathrooms,#REF!,#REF!,Merge,Gender,Vacancy ID,Group Room,Type Room,Property Type,Vacancy Status,Qty,Current Price,Base Price (2023),Proj. 2024,Proj. 2025,Proj. 2026,PROJECTION,Proj. month,Deposit Amount,Booking Code,Customer,Entry Date,Expired Date,Contract duration,Total duration of contract,Rent day,Year,Month,Last Notice Date,Last Open Date,Vacancy Abandonement,Func. Leevin,Status of Payment,Status deposito,Note,5.0,Entry Month,Entry Year
2,Leevin,Erin,Erin,Neil,NaN,43 North Great George's Street,Dublin,D01,D01 K023,NaN,NaN,NaN,1,NaN,Leevin,NaN,NaN,School,School,Home (entire house),Close,1,"17,083.33","17,083.33","17,425.00","17,774.00","18,129.00",NaN,NaN,"17,083.33",6414,Erin School - Lucas Finelli,01/06/2021,01/12/2024,12 meses,42 Months 19 Days,21,2024,12,NaN,NaN,NaN,NaN,Paid,DESCONTO,NaN,NaN,6,2021
3,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B11,Room 1.1,Twin,Home (entire house),Ending,4,612.00,"2,400.00","2,448.00","2,497.00","2,547.00","2,448.00",9,600.00,16160,Madhav Kalra,22/02/2024,21/06/2024,4 meses,4 Months,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,criado novo booking Leevin - 7109,NaN,2,2024
4,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,5,Merge,NaN,GA24AP01B12,Room 1.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,NaN,9,600.00,17449,Akshit Mistry,22/03/2024,21/06/2024,3 meses,3 Months 1 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2024
5,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,Male,GA24AP01B21,Room 2.1,Twin,Home (entire house),Notice,1,612.00,0.00,0.00,0.00,0.00,NaN,9,600.00,16162,Vinayak Kantaram Hinge,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,23/06/2024,23/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
6,Leevin,G1103,Gardiner Street Middle 24 - Apt 1,Neil,Gardiner Street,"24 Gardiner Street Middle, Apt 1",Dublin,D01,D01 E084,NaN,NaN,1 bathroom,7,2,Merge,NaN,GA24AP01B22,Room 2.2,Twin,Home (entire house),Ending,1,612.00,0.00,0.00,0.00,0.00,NaN,9,600.00,16163,Pratik Arjun Gadkar,22/10/2023,21/06/2024,4 meses,8 Months 3 Days,22,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import pandas as pd
from sqlalchemy import create_engine

# Read CSV file into a DataFrame
#df = pd.read_csv(r'C:\Users\Michel Diego\Downloads\Database_LeevinGL19052024.csv')

# Define your MySQL server connection details
username = 'root'
password = 'Md502386'
hostname = 'localhost'  # Or your MySQL server IP address
port = '3306'  # Default MySQL port is 3306
database = 'dataleevingl'

# Create a connection string
connection_string = f'mysql+mysqlconnector://{username}:{password}@{hostname}:{port}/{database}'

# Establish a connection to the MySQL database
engine = create_engine(connection_string)

# Write DataFrame to MySQL database
df.to_sql(name='database_leevingl21052024', con=engine, if_exists='replace', index=False)

# Dispose the engine to release the connection resources
engine.dispose()